// FONTFAMILY

$IBM-plex:  'IBM Plex Mono', monospace;
$montserrat: 'Montserrat', sans-serif;

// FONT-SIZE

$large: 20px;
$medium: 15px;
$small: 12px;
$xmall: 11px;

// FONT-WEIGHT - IBM-PLEX
$light: 300;
$regular: 400;
$bold: 700;

// FONT-WEIGHT - MONTSERRAT
$regularM: 400;
